<div id="sidebar" class="sidebar responsive ace-save-state" sidebar>
	<script type="text/javascript">
		try{ace.settings.loadState('sidebar')}catch(e){}
	</script>
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-success" (click)="shortcutClick($event)">
			<i class="ace-icon fa fa-signal"></i>
			</button>
			<button class="btn btn-info" (click)="shortcutClick($event)">
			<i class="ace-icon fa fa-pencil"></i>
			</button>
			<button class="btn btn-warning" (click)="shortcutClick($event)">
			<i class="ace-icon fa fa-users"></i>
			</button>
			<button class="btn btn-danger" (click)="shortcutClick($event)">
			<i class="ace-icon fa fa-cogs"></i>
			</button>
		</div>
		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>
			<span class="btn btn-info"></span>
			<span class="btn btn-warning"></span>
			<span class="btn btn-danger"></span>
		</div>
	</div>

	<ul class="nav nav-list">
		<li ms-sidebar-item *ngFor="let item of items;" [item]="item" [class.active]="item.active"></li>
	</ul>

	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
</div>
